{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}

	<section>
		<div class="container">
			<div class="row">
				<p id="votrePanier">Votre panier :</p>
			</div>
		</div>
		<div class="container">
			<div class="row g-0">
				<img src="{{ asset ('/img/bg.jpg') }}" alt="bandereau" title="bandereau" id="imageBandereauPanier">

			</div>
		</div>
	</section>
	<br>


	<div class="container">
		<div class="row col-12">

			{% set totalPrice = 0 %}

			{% for element in dataPanier %}

				<table class="table table-bordered mx-2">

					<tbody>
						<tr>
							<td class="TxtPanier col-5 text-center align-middle infobulle infobulleTxt" title="{{ element.plat.description }}">
								<b>{{ element.plat.libelle }}
									({{ element.plat.prix }}€)</b>
							</td>
							<td class="TxtPanier col-2 text-center align-middle">
								<a href="{{ path("app_ajout_panier", {id: element.plat.id}) }}"><img src="{{ asset ('img/Icones/iconeAdd.png') }}" alt="iconeAdd" id="iconesPlusMoins"></a><br>
								<b>Quantité :
									{{ element.quantite }}</b><br>
								<a href="{{ path('app_enlever_panier', {id: element.plat.id}) }}"><img src="{{ asset ('img/Icones/iconeRemove.png') }}" alt="iconeRemove" id="iconesPlusMoins"></a>
							</td>
							<td class="TxtPanier col-4 text-center align-middle">
								<b>Prix :
									{{ element.plat.prix * element.quantite }}€</b>
							</td>
							<td class="col-2">
								<a href="#" id="iconeDeleteJS" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
									<img src="{{ asset ('img/Icones/iconeDelete.png') }}" alt="iconeDelete" class="iconeDeleteCSS">
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Fenêtre modale JS qui s'ouvre losqu'on delete un plat -->
				<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation de suppression</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Êtes-vous sûr de vouloir supprimer cet article du panier ? Vous ne voulez pas en rajouter plutôt ?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler, j'ai faim</button>
								<button type="button" class="btn btn-danger" id="confirmDelete">Supprimer, je veux manger autre chose</button>
							</div>
						</div>
					</div>
				</div>
				<script>
					const deleteModal = document.getElementById('deleteConfirmationModal');
const deleteButton = document.getElementById('iconeDeleteJS');
deleteButton.addEventListener('click', (e) => {
e.preventDefault();
deleteModal.modal('show'); // Montrer la fenêtre modale
});
document.getElementById('confirmDelete').addEventListener('click', () => {
window.location.href = '{{ path('app_supprimer_panier', {id: element.plat.id}) }}';
});
				</script>

				{% set totalPrice = totalPrice + (element.plat.prix * element.quantite) %}

			{% else %}
				<div class="container">
					<div class="row col-12 text-center">
						<p class="TxtpanierVide">
							<b>Votre panier est vide</b>
						</p>
						<div class="d-grid gap-2 col-6 mx-auto">
							<a href="{{ path('app_index') }}" class="btn btn-primary buttonAutreChose mb-4">Commencer à naviguer</a>
						</div>
					</div>
				</div>
			{% endfor %}

			{% if dataPanier|length > 0 %}
				<div class="container">
					<div class="row col-12 text-center">
						<div class="d-grid gap-2 col-6 mx-auto">
							<a href="{{ path('app_categorie') }}" class="btn btn-primary buttonAutreChose">Laissez vous tenter par autre chose ?</a>
						</div>
					</div>
				</div>
			{% endif %}

			{% if dataPanier|length > 0 %}
				<table class="table-bordered mx-2 mt-4 mb-4">
					<tfoot>
						<tr>
							<th class="fs-3 text-uppercase px-3">
								<b>Total :</b>
							</th>
							<td class="TxtPanier col-5 text-center align-middle fs-3">
								<b>{{ totalPrice }}€</b>
							</td>
						</tr>
					</tfoot>
				</table>
			{% endif %}

			<hr>
			<div class="container">
				<div class="row justify-content-center mb-4 mt-2">
					<a class="btn btn-primary justify-content-start col-9 mx-5 text-center align-middle" aria-current="page" href="{{ path('app_commande') }}" id="boutonPasserCommande">Commander</a>

					<a class="btn btn-primary justify-content-end col-3 mx-5 text-center align-middle" aria-current="page" href="#" id="boutonViderPanier" data-bs-toggle="modal" data-bs-target="#emptyCartConfirmationModal">Vider le panier</a>

<!-- Fenêtre modale JS qui s'ouvre pour vider le panier -->
<div class="modal fade" id="emptyCartConfirmationModal" tabindex="-1" aria-labelledby="emptyCartConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emptyCartConfirmationModalLabel">Confirmation de vidage du panier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Vous n'avez déjà plus faim ? :/ Restez avec nous !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Je reste, j'ai faim</button>
        <button type="button" class="btn btn-danger" id="confirmEmptyCart">Vider le panier, je vais voir ailleurs :/</button>
      </div>
    </div>
  </div>
</div>

<script>
  const emptyCartModal = document.getElementById('emptyCartConfirmationModal');
  const emptyCartButton = document.getElementById('boutonViderPanier');
  emptyCartButton.addEventListener('click', (e) => {
    e.preventDefault();
    emptyCartModal.modal('show');
  });
  document.getElementById('confirmEmptyCart').addEventListener('click', () => {
    window.location.href = '{{ path('app_supprimer_tout_panier') }}';
  });
</script>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
