{% extends 'base.html.twig' %}

{% block title %}Votre commande
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row g-0">
			<img src="{{ asset ('img/bg1.jpeg') }}" alt="bandereau" title="bandereau" id="imageBandereau">
		</div>
	</div>
	<div class="container">
<div class="row g-0"
	<section class="container" id="background-img">
		<div class="row g-0">

			<div class="container">
				<div class="row">


					<p class="row g-0 mt-5 pt-5 mx-3 justify-content-start" id="champsObl">Les champs ayant une "*" sont obligatoires à remplir !</p>

					{{ form_start(form) }}

					<div class="class-for-errors">
						{{ form_errors(form) }}
					</div>

					<div class="container">
						<div class=" row mb-5 fs-5 col-12 text-center">
							{{ form_label(form.nom) }}
							{{ form_widget(form.nom) }}
							{{ form_label(form.prenom) }}
							{{ form_widget(form.prenom) }}
						</div>
					</div>

					<div class="container">
						<div class="row mb-5 fs-5 col-12 text-center">
							{{ form_label(form.email) }}
							{{ form_widget(form.email) }}
							{{ form_label(form.telephone) }}
							{{ form_widget(form.telephone) }}
						</div>
					</div>

					<div class="row mx-1 mb-5 fs-5 col-12 text-center">
						{{ form_label(form.adresse_facturation) }}
						{{ form_widget(form.adresse_facturation) }}
					</div>

					<div class="row mx-1 mb-5 fs-5 col-12 text-center">
						{{ form_label(form.adresse_livraison) }}
						{{ form_widget(form.adresse_livraison) }}
					</div>

					<div class="row mx-1 mb-5 fs-5 col-12 text-center">
						{{ form_label(form.mode_paiement) }}
						<div class="container">
							<div class="row justify-content-center backgroundTitleCommande">
								<i class="col-4 fa-brands fa-cc-visa fa-bounce"></i>
								<i class="col-4 fa-brands fa-cc-mastercard fa-bounce" style="color: #e01b24;"></i>
								<i class="col-4 fa-brands fa-paypal fa-bounce" style="color: #1a5fb4;"></i>
							</div>
						</div>
						{{ form_widget(form.mode_paiement) }}
					</div>

					<div class="container">
						<div class="row mt-3 text-end">
							{{ form_row(form.envoyer) }}
						</div>
					</div>


				</div>


			</div>


			{{ form_end(form) }}


		</div>
	</section>
</div></div>
{% endblock %}
