{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">
    <div class="row g-0">
      <img src="/img/bg1.jpeg" alt="bandereau" title="bandereau" id="imageBandereau" >
    </div>
</div>

<div class="container">
<p class="row g-0 mt-2">Les champs ayant une "*" sont obligatoires à remplir !</p>
</div>

<div class="container">
    <div class="row">


    {{ form_start(form) }}

    <div class="class-for-errors">
        {{ form_errors(form) }}
    </div>

<div class="container">
    <div class="row">
    {{ form_label(form.nom) }} {{ form_widget(form.nom) }}
    {{ form_label(form.prenom) }} {{ form_widget(form.prenom) }}
    </div>
</div>

    <div class="row justify-content-center">
        {{ form_row(form.email) }}
    </div>

    <div class="row justify-content-center">
        {{ form_row(form.telephone) }}
    </div>

    <div class="row justify-content-center">
        {{ form_row(form.votre_demande) }}
    </div>

    <div class="row justify-content-center">
        {{ form_row(form.envoyer) }}
    </div>


    </div>




    </div>



    {{ form_end(form) }}

    </div>
</div>
{% endblock %}
